body {
   background-color: black;
   margin: 0;
   font-size: 20px;color: rgb(250, 248, 248);
   font-family: sans-serif;
}

.div1 {
   background:linear-gradient(white, rgba(0,0,0,0),black), url(/images/sunset-815270_1280.jpg);
   background-position: center;
   background-size: cover;
   height: 300px;
}

main {
   padding-left: 10vw;
   width: 60vw;
}
